.App {
  text-align: center;
}
.component1 {
  margin: 50px;
  text-align: left;
}
.addItem {
  width: 50%;
  margin-left: 50px;
}
.form-control {
  width: 40%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
